# Install, not upgrade
install
cmdline

# Install from a friendly mirror and add updates
url --url=http://mirror.rackspace.com/CentOS/5/os/x86_64
repo --name=base --baseurl=http://mirror.rackspace.com/CentOS/5/os/x86_64/
repo --name=epel --baseurl=http://mirror.rackspace.com/epel/5/x86_64/

# Language and keyboard setup
lang en_US.UTF-8
keyboard us

# Configure DHCP networking w/optional IPv6, firewall on
network --onboot yes --device eth0 --bootproto dhcp --hostname localhost

# Set timezone
timezone --utc Etc/UTC

# Authentication
# password expires after first login
rootpw --plaintext rackspace
authconfig --enableshadow --passalgo=sha512

# SELinux
selinux --disabled

# Services running at boot
services --enabled network,sshd
services --disabled sendmail

# Disable anything graphical
skipx
#text

# Setup the disk
zerombr
clearpart --all --initlabel
part / --fstype=ext3 --grow --size=1024 --asprimary
bootloader --append="root=/dev/sda1"

# Shutdown when the kickstart is done
#shutdown
poweroff

# Minimal package set
%packages --excludedocs --nobase
@core
kernel.x86_64
kernel-devel
rsync
tar
wget
openssh-clients
#cloud-utils
#cloud-utils-growpart
cloud-init
#dracut-modules-growroot
parted
curl

%post --erroronfail

# setup systemd to boot to the right runlevel
rm -f /etc/systemd/system/default.target
ln -s /lib/systemd/system/multi-user.target /etc/systemd/system/default.target

# If you want to remove rsyslog and just use journald, remove this!
rmdir /var/log/journal/ 

# this is installed by default but we don't need it in virt
yum -C -y remove linux-firmware

# Non-firewalld-firewall
cat > /etc/sysconfig/iptables <<'EOF'
# Simple static firewall loaded by iptables.service. Replace
# this with your own custom rules, run lokkit, or switch to 
# shorewall or firewalld as your needs dictate.
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate NEW -m tcp -p tcp --dport 22 -j ACCEPT
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
EOF

# although we want console output going to the serial console, we don't
# actually have the opportunity to login there. FIX.
# we don't really need to auto-spawn _any_ gettys.
sed -i '/^#NAutoVTs=.*/ a\
NAutoVTs=0' /etc/systemd/logind.conf

# initscripts don't like this file to be missing.
cat > /etc/sysconfig/network << EOF
NETWORKING=yes
NOZEROCONF=yes
EOF

# For cloud images, 'eth0' _is_ the predictable device name, since
# we don't want to be tied to specific virtual (!) hardware
echo -n > /etc/udev/rules.d/70-persistent-net.rules
echo -n > /lib/udev/rules.d/75-persistent-net-generator.rules
ln -s /dev/null /etc/udev/rules.d/80-net-name-slot.rules

# simple eth0 config, again not hard-coded to the build hardware
cat > /etc/sysconfig/network-scripts/ifcfg-eth0 << EOF
DEVICE="eth0"
BOOTPROTO="static"
ONBOOT="yes"
TYPE="Ethernet"
EOF

# generic localhost names
cat > /etc/hosts << EOF
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
EOF

# Because memory is scarce resource in most cloud/virt environments,
# and because this impedes forensics, we are differing from the Fedora
# default of having /tmp on tmpfs.
echo "Disabling tmpfs for /tmp."
systemctl mask tmp.mount

# tmp tmp
mkdir /tmp/tmp
cd /tmp/tmp

# set some stuff
echo 'net.ipv4.conf.eth0.arp_notify = 1' >> /etc/sysctl.conf
echo 'vm.swappiness = 0' >> /etc/sysctl.conf

# set rackspace mirrors
sed -i 's/mirror.centos.org/mirror.rackspace.com/g' /etc/yum.repos.d/CentOS-Base.repo
sed -i 's%baseurl.*%baseurl=http://mirror.rackspace.com/epel/5/x86_64/%g' /etc/yum.repos.d/epel.repo
sed -i '/#baseurl/s/# *//' /etc/yum.repos.d/CentOS-Base.repo
sed -i '/baseurl/s/# *//' /etc/yum.repos.d/epel.repo
sed -i '/mirrorlist/s/^/#/' /etc/yum.repos.d/CentOS-Base.repo
sed -i '/mirrorlist/s/^/#/' /etc/yum.repos.d/epel.repo

# our cloud-init config
cat > /etc/cloud/cloud.cfg.d/10_rackspace.cfg <<'EOF'
datasource_list: [ NoCloud, NoCloudNet, None ]
disable_root: False
ssh_pwauth: True
ssh_deletekeys: False
resize_rootfs: noblock
growpart:
  mode: auto
  devices: ['/']
system_info:
  distro: rhel
EOF

# cloud-init / nova-agent sad panda hack
cat > /etc/init.d/cloud-init-local <<'EOF'
#!/bin/sh

#
#    Copyright (C) 2012 Yahoo! Inc.
#
#    Author: Joshua Harlow <harlowja@yahoo-inc.com>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License version 3, as
#    published by the Free Software Foundation.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# See: http://wiki.debian.org/LSBInitScripts
# See: http://tiny.cc/czvbgw
# See: http://www.novell.com/coolsolutions/feature/15380.html
# Also based on dhcpd in RHEL (for comparison)

### BEGIN INIT INFO
# Provides:          cloud-init-local
# Required-Start:    $local_fs $remote_fs
# Should-Start:      $time
# Required-Stop:
# Should-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: The initial cloud-init job (local fs contingent)
# Description:       Start cloud-init and runs the initialization phases
#	and any associated initial modules as desired.
### END INIT INFO

# Return values acc. to LSB for all commands but status:
# 0	  - success
# 1       - generic or unspecified error
# 2       - invalid or excess argument(s)
# 3       - unimplemented feature (e.g. "reload")
# 4       - user had insufficient privileges
# 5       - program is not installed
# 6       - program is not configured
# 7       - program is not running
# 8--199  - reserved (8--99 LSB, 100--149 distrib, 150--199 appl)
# 
# Note that starting an already running service, stopping
# or restarting a not-running service as well as the restart
# with force-reload (in case signaling is not supported) are
# considered a success.

sleep 1
RETVAL=0

prog="cloud-init"
cloud_init="/usr/bin/cloud-init"
conf="/etc/cloud/cloud.cfg"

# If there exist sysconfig/default variable override files use it...
[ -f /etc/sysconfig/cloud-init ] && . /etc/sysconfig/cloud-init
[ -f /etc/default/cloud-init ] && . /etc/default/cloud-init

start() {
    [ -x $cloud_init ] || return 5
    [ -f $conf ] || return 6

    echo -n $"Starting $prog: "
    $cloud_init $CLOUDINITARGS init --local
    RETVAL=$?
    return $RETVAL
}

stop() {
    echo -n $"Shutting down $prog: "
    # No-op
    RETVAL=7
    return $RETVAL
}

case "$1" in
    start)
        start
        RETVAL=$?
	;;
    stop)
        stop
        RETVAL=$?
	;;
    restart|try-restart|condrestart)
        ## Stop the service and regardless of whether it was
        ## running or not, start it again.
        # 
        ## Note: try-restart is now part of LSB (as of 1.9).
        ## RH has a similar command named condrestart.
        start
        RETVAL=$?
	;;
    reload|force-reload)
        # It does not support reload
        RETVAL=3
	;;
    status)
        echo -n $"Checking for service $prog:"
        # Return value is slightly different for the status command:
        # 0 - service up and running
        # 1 - service dead, but /var/run/  pid  file exists
        # 2 - service dead, but /var/lock/ lock file exists
        # 3 - service not running (unused)
        # 4 - service status unknown :-(
        # 5--199 reserved (5--99 LSB, 100--149 distro, 150--199 appl.)
        RETVAL=3
	;;
    *)
        echo "Usage: $0 {start|stop|status|try-restart|condrestart|restart|force-reload|reload}"
        RETVAL=3
	;;
esac

exit $RETVAL
EOF

# use a static fstab
#cat > /etc/fstab <<'EOF'
# Accessible filesystems, by reference, are maintained under '/dev/disk'
# See man pages fstab(5), findfs(8), mount(8) and/or blkid(8) for more info
#
#/dev/sda1	/ ext3 defaults,noatime 1 1
#tmpfs /dev/shm tmpfs defaults 0 0
#devpts /dev/pts devpts gid=5,mode=620 0 0
#sysfs /sys sysfs defaults 0 0
#proc /proc proc defaults 0 0
#EOF

# make necessary paths
mkdir -p /root/.rackspace

# vmtools
wget http://packages.vmware.com/tools/keys/VMWARE-PACKAGING-GPG-DSA-KEY.pub
wget http://packages.vmware.com/tools/keys/VMWARE-PACKAGING-GPG-RSA-KEY.pub
wget http://packages.vmware.com/tools/esx/5.5/repos/vmware-tools-repo-RHEL5-9.4.0-1.el5.x86_64.rpm
rpm --import VMWARE-PACKAGING-GPG-RSA-KEY.pub
rpm --import VMWARE-PACKAGING-GPG-DSA-KEY.pub
rpm -Uvh vmware-tools*
yum -y install vmware-tools-esx-kmods
yum -y install vmware-tools-esx

# dirty hack for NoCloud datasource fail
sed -i 's%cdrom_list = util.find_devs_with(path="/dev/sr1")%cdrom_list = util.find_devs_with(path="/dev/cdrom")%g' /usr/lib/python2.6/site-packages/cloudinit/sources/DataSourceNoCloud.py

# a few other random fixes
#rm /etc/blkid/blkid.tab
sed -i '/HOSTNAME.*/d' /etc/sysconfig/network

# modprode workaround for vmware
cat > /etc/modprobe.conf <<'EOF'
alias eth0 pcnet32
alias scsi_hostadapter mptbase
alias scsi_hostadapter1 mptscsih
alias scsi_hostadapter2 mptfc
alias scsi_hostadapter3 mptspi
alias scsi_hostadapter4 mptsas
EOF

# force grub to use generic disk labels, bootloader above does not do this
#sed -i 's%root=.*%root=/dev/sda1%g' /boot/grub/grub.conf
#grub-install /dev/sda

# force root pw change
chage -d 0 root

# update all
yum -y update

# one last hack for 5.x so it gets along with VMware
version=$(rpm -q kernel --queryformat='%{VERSION}-%{RELEASE}\n' | tail -n 1)
mkinitrd -v -f --rootdev=/dev/sda1 --with=scsi_mod --with=sd_mod --with=libata --with=pvscsi --with pcnet32 --with mptbase --with mptspi --with ata_piix --preload pcnet32 --preload mptbase --preload mptspi --preload ata_piix --preload=scsi_mod --preload=sd_mod --preload=libata initrd-$version.img $version

# log packages
wget http://KICK_HOST/kickstarts/package_postback.sh
bash package_postback.sh CentOS_5_VMware

# clean up
yum clean all
truncate -c -s 0 /var/log/yum.log
rm -f /etc/ssh/ssh_host_*
rm -f /etc/resolv.conf
rm -f /root/.bash_history
rm -f /root/.nano_history
rm -f /root/.lesshst
rm -f /root/.ssh/known_hosts
rm -rf /tmp/tmp
rm -f /root/anaconda-ks.cfg
for k in $(find /var/log -type f); do echo > $k; done
for k in $(find /tmp -type f); do rm -f $k; done
for k in $(find /root -type f \( ! -iname ".*" \)); do rm -f $k; done
