#System language
lang en_US

#Language modules to install
langsupport en_US

#System keyboard
keyboard us

#System timezone
timezone --utc Etc/UTC

#Root password
rootpw --plaintext novaagentneedsunlockedrootaccountsowedeletepasswordinpost

#Initial user
user --disabled

#Do not configure the X Window System
skipx

#Use text mode install
text

#Install OS instead of upgrade
install

#Use Web installation
url --url=http://mirror.rackspace.com/ubuntu

#System bootloader configuration
bootloader --location=mbr --append="console=ttyS4,115200n8"

#Clear the Master Boot Record
zerombr yes

#Partition clearing information
clearpart --initlabel --all

#Disk partitioning information
part / --fstype ext4 --size=1024 --grow --asprimary 

#System authorization infomation
auth  --useshadow  --enablemd5 

#Firewall configuration
firewall --disabled 

# shutdown when done
poweroff

# configs
preseed partman-basicfilesystems/no_swap boolean false
preseed debian-installer/exit/poweroff boolean true
preseed finish-install/reboot_in_progress note
preseed partman/mount_style select traditional
preseed user-setup/allow-password-weak boolean true
preseed cdrom-detect/eject boolean false
preseed cloud-init/datasources string NoCloud, ConfigDrive

# apt preseeds, note the release versions here
preseed apt-setup/security_host string mirror.rackspace.com
preseed apt-setup/security_path string /ubuntu trusty-security
preseed apt-setup/use_mirror boolean true
preseed mirror/protocol string http
preseed mirror/country string manual
preseed mirror/http/hostname string mirror.rackspace.com
preseed mirror/http/directory string /ubuntu
preseed mirror/http/proxy string

# other preseeds to reduce image size
preseed base-installer/install-recommends boolean false
preseed pkgsel/install-language-support boolean false

# packages
%packages
openssh-server
cloud-init
cloud-initramfs-dyn-netconf
cloud-initramfs-growroot
rsync
tar
wget
parted
ifenslave-2.6
vlan
curl
python-jinja2
python3-serial
python3-yaml
python-jsonpatch
python-oauthlib
init-system-helpers
python-pip
mdadm

%post 
#--interpreter /bin/bash

# tmp tmp
mkdir /tmp/tmp
cd /tmp/tmp
wget http://10.69.246.205/kickstarts/Ubuntu_14.04_Teeth_post.sh
chmod +x Ubuntu_14.04_Teeth_post.sh
bash Ubuntu_14.04_Teeth_post.sh

%post --nochroot
rm -f /usr/lib/finish-install.d/94save-logs
%end
