#System language
lang en_US

#Language modules to install
langsupport en_US

#System keyboard
keyboard us

#System timezone
timezone --utc Etc/UTC

#Root password
rootpw novaagentneedsunlockedrootaccountsowedeletepasswordinpost

#Initial user
user --disabled

#Do not configure the X Window System
skipx

#Use text mode install
text

#Install OS instead of upgrade
install

#Use Web installation
url --url=http://mirror.rackspace.com/ubuntu

#System bootloader configuration
bootloader --location=mbr

#Clear the Master Boot Record
zerombr yes

#Partition clearing information
clearpart --initlabel --drives=xvda

#Disk partitioning information
part / --fstype ext3 --size=1024 --grow --asprimary 

#System authorization infomation
auth  --useshadow  --enablemd5 

#Firewall configuration
firewall --disabled 


# configs
preseed partman-basicfilesystems/no_swap boolean false
preseed debian-installer/exit/poweroff boolean true
preseed finish-install/reboot_in_progress note
preseed partman/mount_style select traditional
preseed user-setup/allow-password-weak boolean true
preseed cdrom-detect/eject boolean false
preseed cloud-init/datasources string None, ConfigDrive
preseed netcfg/target_network_config string loopback

# apt preseeds, note the release versions here
preseed apt-setup/security_host string mirror.rackspace.com
preseed apt-setup/security_path string /ubuntu trusty-security
preseed apt-setup/use_mirror boolean true
preseed mirror/protocol string http
preseed mirror/country string manual
preseed mirror/http/hostname string mirror.rackspace.com
preseed mirror/http/directory string /ubuntu
preseed mirror/http/proxy string

# other preseeds to reduce image size
preseed base-installer/install-recommends boolean false
preseed pkgsel/install-language-support boolean false

# grub changes
preseed grub-installer/bootdev  string /dev/xvda
preseed grub-installer/only_debian boolean true
preseed grub-installer/with_other_os boolean true

# packages
%packages
openssh-server
cloud-init
cloud-initramfs-dyn-netconf
rsync
tar
wget
curl
parted

%post

# fix bootable flag
parted -s /dev/xvda set 1 boot on

# tmp tmp
mkdir /tmp/tmp
cd /tmp/tmp

# install xen tools
wget http://ce3598b91333d7474379-b85ce4d8c2253d3876bef92f62a263f8.r84.cf5.rackcdn.com/xe-guest-utilities_6.2.0-1120_amd64.deb
dpkg -i xe-guest-utilities_6.2.0-1120_amd64.deb

# install agent
wget https://github.com/rackerlabs/openstack-guest-agents-unix/releases/download/1.39.1/nova-agent_1.39.1_all.deb
dpkg -i nova-agent*

# our cloud-init config
cat > /etc/cloud/cloud.cfg.d/10_rackspace.cfg <<'EOF'
apt_preserve_sources_list: True
disable_root: False
ssh_pwauth: True
ssh_deletekeys: False
resize_rootfs: False
EOF
touch /etc/growroot-disabled

# cloud-init kludges
addgroup --system --quiet netdev
echo -n > /etc/udev/rules.d/70-persistent-net.rules
echo -n > /lib/udev/rules.d/75-persistent-net-generator.rules

# cloud-init must be beaten with hammer
# preseeding these values isnt working, forcing it here
#echo "cloud-init cloud-init/datasources string None, ConfigDrive" > /tmp/tmp/debconf-selections
#/usr/bin/debconf-set-selections /tmp/tmp/debconf-selections
#dpkg-reconfigure cloud-init

# both the above and preseed values quit working :(
cat > /etc/cloud/cloud.cfg.d/90_dpkg.cfg <<'EOF'
# to update this file, run dpkg-reconfigure cloud-init
datasource_list: [ ConfigDrive, None ]
EOF

# stage a clean hosts file
cat > /etc/hosts <<'EOF'
# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
127.0.0.1 localhost
EOF

# set some stuff
echo 'net.ipv4.conf.eth0.arp_notify = 1' >> /etc/sysctl.conf
echo 'vm.swappiness = 0' >> /etc/sysctl.conf

cat >> /etc/sysctl.conf <<'EOF'
net.ipv4.tcp_rmem = 4096 87380 33554432
net.ipv4.tcp_wmem = 4096 65536 33554432
net.core.rmem_max = 33554432
net.core.wmem_max = 33554432
net.ipv4.tcp_window_scaling = 1
net.ipv4.tcp_timestamps = 1
net.ipv4.tcp_sack = 1
EOF

# our fstab is fonky
cat > /etc/fstab <<'EOF'
# /etc/fstab: static file system information.
#
# Use 'blkid' to print the universally unique identifier for a
# device; this may be used with UUID= as a more robust way to name devices
# that works even if disks are added and removed. See fstab(5).
#
# <file system> <mount point>   <type>  <options>       <dump>  <pass>
/dev/xvda1	/               ext3    errors=remount-ro,noatime,barrier=0 0       1
#/dev/xvdc1	none            swap    sw              0       0
EOF

# keep grub2 from using UUIDs and regenerate config
sed -i 's/#GRUB_DISABLE_LINUX_UUID.*/GRUB_DISABLE_LINUX_UUID="true"/g' /etc/default/grub
sed -i 's/GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="cgroup_enable=memory swapaccount=1"/g' /etc/default/grub
update-grub

# update
apt-get update
apt-get -y dist-upgrade

# cloud-init / nova-agent sad panda hacks
cat > /etc/init/cloud-init-local.conf <<'EOF'
# cloud-init - the initial cloud-init job
#   crawls metadata service, emits cloud-config
start on mounted MOUNTPOINT=/

task

console output

pre-start script
	/etc/init.d/xe-linux-distribution start
	sleep 2
	/etc/init.d/nova-agent start
	sleep 13
end script

exec /usr/bin/cloud-init init --local 
EOF

# grub legacy for PV Xen guests
apt-get -y remove --purge grub*
rm -rf /boot/grub*
apt-get -y install grub-legacy-ec2
sed -i 's/# indomU.*/# indomU=true/' /boot/grub/menu.lst
sed -i 's/# kopt=.*/# kopt=root=\/dev\/xvda1 console=hvc0 ro quiet splash/' /boot/grub/menu.lst
update-grub-legacy-ec2 -y

# set ssh keys to regenerate at first boot if missing
# this is a fallback to catch when cloud-init fails doing the same
# it will do nothing if the keys already exist
cat > /etc/rc.local <<'EOF'
dpkg-reconfigure openssh-server
echo > /etc/rc.local
EOF

# console fix for PV Ubuntus
cat > /etc/init/hvc0.conf <<'EOF'

# hvc0 - getty
#
# This service maintains a getty on hvc0 from the point the system is
# started until it is shut down again.

start on stopped rc or RUNLEVEL=[2345]
stop on runlevel [!2345]

respawn
exec /sbin/getty -L 115200 hvc0 vt102
EOF

# stop nova-agent from starting twice since we start it from cloud-init now
update-rc.d -f nova-agent remove
update-rc.d -f xe-linux-distribution remove 

cat > /etc/apt/apt.conf.d/00InstallRecommends <<'EOF'
APT::Install-Recommends "true";
EOF

# the beta version didn't do this, but release set it to "without-password" which fails
sed -i 's/PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config

# log packages
wget http://10.69.246.205/kickstarts/package_postback.sh
bash package_postback.sh Ubuntu_14.04

# clean up
apt-get -y clean
apt-get -y autoremove
sed -i '/.*cdrom.*/d' /etc/apt/sources.list
rm -f /etc/ssh/ssh_host_*
rm -f /var/cache/apt/archives/*.deb
rm -f /var/cache/apt/*cache.bin
rm -f /var/lib/apt/lists/*_Packages
# breaks newest nova-agent if removed
#rm -f /etc/resolv.conf
rm -f /root/.bash_history
rm -f /root/.nano_history
rm -f /root/.lesshst
rm -f /root/.ssh/known_hosts
rm -rf /tmp/tmp
find /var/log -type f -exec truncate -s 0 {} \;
find /tmp -type f -delete
find /root -type f ! -iname ".*" -delete

%post --nochroot
# root password will be handled by nova-agent
rm -f /usr/lib/finish-install.d/06user-setup
rm -f /usr/lib/finish-install.d/94save-logs
%end
